h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  border: solid black;
  background-color: white;
  font-size: 40px;
}

body {
  background-image: url(../vatten.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 10px;
  width: 400px;
  border: solid black;
  border-radius: 10px;
}

.input-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

input[type="text"],
[type="password"] {
  padding: 5px;
  font-size: 18px;
  border: solid;
}

label {
  flex-basis: 160px; /* gör så textrutorna synkar */
  margin-top: 10px;
  font-size: 20px;
}

button {
  font-size: 18px;
  padding: 5px;
  margin: 10px 0;
  border: solid;
}

button[type="button"] {
  width: 100%;
}

button[type="logOutButton"] {
  width: 50%;
  border-radius: 100px;
}

#loggingOut {
  text-align: center;
}

.regler {
  display: flex;
  font-size: large;
  border: solid black;
  color: black;
  background-color: white;
  text-align: center;
  justify-content: center;
}

.emblem {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-size: xx-large;
  padding: 4px;
  margin: 4px;
}

@media all and (max-width: 480px) {
  .input-flex {
    flex-direction: column;
  }
  label {
    flex-basis: 0;
  }
}
