

h1 { 
  /*Rubrik utseende */
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  border: solid black;
  background-color: white;
  font-size: 40px;
}

body {

  /* Backgrunds utseende */
  background-image: url(../vatten.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
}
/* Hela containern */
.container {
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
}

/* Login boxen*/
.login-form {
  background-color: white;
  padding: 10px;
  width: 400px;
  border: solid black;
  border-radius: 10px;
}

.input-flex {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
/* Justering : Username boxen & Password boxen */
input[type="text"],
[type="password"] {
  padding: 5px;
  font-size: 18px;
  border: solid;
}
/* Justering av texten Username & Password*/
label {
  flex-basis: 160px; /* gör så textrutorna synkar */
  margin-top: 10px;
  font-size: 20px;
}
/* Justering : LOGIN knappen*/
button[type="button"] {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  margin: 10px 0;
  border: solid;
}
/*Justering : LOGGA UT  knappen */
button[type="logOutButton"] {
  width: 50%;
  font-size: 18px;
  padding: 5px;
  margin: 10px 0;
  border: solid;
  border-radius: 100px ;
  }

  #loggingOut {
    text-align: center;

  }
/* Justering : REGLERNA : i index */
.regler {
  display: flex;
  font-size: large;
  border: solid black;
  color: black;
  background-color: white;
  text-align: center;
  justify-content: center;
}









/* Till det resposiva med användning utav mindre skärmar */
@media all and (max-width: 480px) {
  .input-flex {
    flex-direction: column;
  }
  label {
    flex-basis: 0;
  }
}
